.Notifications-container {
  border-radius: 50%;
  background-color: var(--background-light);
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 2px 20px rgba(50, 42, 117, 0.11);
  cursor: pointer;
}
