.AddProfilePic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px); /* Adjust the value based on your preference */
  background-color: #11111140;
}
