
    .sessionCard{
        height: 250px;
        border: 1px solid grey;
        border-radius: 20px;
        width: 250px;
        padding: 20px;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        &:hover{
            background-color: blue;
            color: white;
            .sessionAction{
                // background-color: white;
                color: blue;
                button{
                    background-color: white;
                    color: black;
                }
            }
        }
        
        .sessionCardProfile{
            width: 100%;
           .sessionTitle{
            font-weight: 600;
            text-align: center;
           }     
        }
        .cardDetails{
            display: flex;
            padding: 10px;
            .sessionCardLeft{
                flex: 1;
                text-align: center;
                font-size: 13px;
            }
            .sessionCardRight{
                flex: 1;
                font-size: 13px;

                text-align: center;

            }
        }
        .sessionAction{
            text-align: center;
            color: white;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            gap: 3px;
            button{
                padding: 6px;
                border: none;
                background-color: blue;
                color: white;
                border-radius: 10px;
            }
        }
    }