@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.login-new-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F4F9;
    font-family: "Noto Sans", sans-serif;

    .ln-left-logo{
        display: flex;
        width: 100%;
        padding: 0 0 1em 0;

        img{
            width: 20%;
            height: auto;
            margin-bottom: 1em;
        }
    }
    h3{
        font-family: "Noto Sans", sans-serif;
        font-weight: 200;
        color: #1F1F1F;
        font-size: 3em;
    }
    p{
        color: #341F1F;
        font-size: 1em;
    }


    .login-new-sub{
        width: 60%;
        height: 40%;
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 2em;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        .ln-row{
            display: flex;
            
            .ln-left{
                display: flex;
                flex-direction: column;
                gap: 1em;
                width: 50%;
            }
            .ln-right{
                display: flex;
                flex-direction: column;

                p{
                    font-size: 0.7em;
                    color: #111111c4;
                    padding-bottom: 0.2em;

                    span{
                        color: #111111
                    }
                }
                .google-btn{
                    padding-bottom: 1em;
                    button{
                        border-radius: 40px;
                        border: 1px solid #111111a4;
                        background-color: none;
                        background: none;
                        padding: 1em 2em 1em 2em;
                    }
                    button:hover{
                        color: #11111177;
                    }
                    font-size: 1em;
                    img{
                        width: 1em;
                        height: auto;
                    }
                }
            }
        }
    }
}