.Profile-container {
  display: flex;
  justify-content: center !important;
  width: 100%;
  overflow-y: auto;
  .profile-body {
    display: flex;
    width: 50vw;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    .profile-pic {
      display: flex;
      justify-content: center;
      transform: translateY(-50%);
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateY(-80px);
      width: 50vw;
      gap: 48px;
      .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
      }
      .middle {
        display: flex;
        flex-direction: column;
        gap: 48px;
        width: 100%;
      }
      h3 {
        font-weight: 400;
      }
    }
  }
}
