.widget{
    width: 200px;
    // background-color: blue;
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    // flex-direction: column;
    box-shadow: 3px 2px 2px grey;
    height: 100px;
    border: 1px solid grey;
    &:hover{
    box-shadow: 3px 2px 2px black;

    }
    .left, 
    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title{
            font-weight: bold;
            font-size: 14px;
            color: gray;
        }
        .counter{
            font-size: 24px;
        }
        .link{
            font-size: 12px;
            width: max-content;
            border-bottom: 1px solid grey;
        }
        .percentage{
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }
        .userIcon{
            font-size: 23px;
            align-self: flex-end;
         
        }
    }   
}