.header{
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
    
    .leftSide{
        width: 50%;
        padding: 2px;
        font-size: 20px
       
    }
    .rightSide{
        @extend .leftSide ;
        text-align: right;
        
    }
} 