.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  background-color: var(--background-dark);
  .leftSide {
    img {
      height: 52px;
    }
  }
}
