.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid #8686863f;
  background-color: var(--primary-light);
  .leftSide {
    img {
      height: 52px;
    }
  }
  .rightSide {
    display: flex;
    gap: 20px;
    align-items: center;
    border: none;
  }
}
