.Notifications-container {
  position: absolute;
  top: 100px;
  right: 17px;
  height: 80vh;
  width: 500px;
  background-color: #fff;
  border-radius: 20px;
  padding: 24px;
  overflow-y: auto;
  box-shadow: 2px 2px 20px rgba(50, 42, 117, 0.11);
}
