.howmayihelpyou-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-light);
  padding: 24px;
  border: 1px solid #1111111a;
  border-radius: 20px;
  gap: 24px;
  .heading {
    border-bottom: 1px solid #1111111a;
    padding-bottom: 12px;
    font-size: smaller;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .askHeading {
      text-align: center;
    }
    .row {
      display: flex;
      justify-content: start;
      .col {
        width: 100%;
        .info-fields {
          font-weight: 700;
          display: flex;
          justify-content: space-around;
          width: 100%;
        }
      }
    }
    .helpButton {
      width: 100%;
      margin-top: 100px;
      padding: 20px;
    }
  }
}
